.form-group {
    @apply mb-8;

    label {
        @apply block mb-2 text-gray-700;
        font-family: "Roboto-Regular";
    }

    input {
        @apply bg-gray-200 py-4 px-6 rounded outline-none border-2 border-transparent block w-full text-gray-700 text-sm;

        &:focus {
            outline: none;
            border-bottom: 2px solid $primary-color;
        }
    }
}

.input--file {
    background-color: $primary-color;
    color: $secondary-color;
    @apply text-6xl rounded shadow-lg cursor-pointer;

}
